body {
    margin: 0;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: darkblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 160px;
    padding-top: 32px;
}

.menu {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   height: 75%;
}

.sections {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 64px;
}

.logo img {
    object-fit: contain;
}

.sections a {
    text-decoration: none;
    color: white;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 22px;
    color: lightgray;
    cursor: pointer;
}

.sections a:hover {
    -webkit-transform: scale(1.4);
    -ms-transform: scale(1.2);
    transform: scale(1.4);
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 48px;
}

.profile img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.board {
    width: calc(100% - 160px);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 48px;
}

.board div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
}

.board span {
font-size: 20px;
}

.todo {
    background-color:  #e9edf1;
    width: 240px;
    height: 720px;
    box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}


.title {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 24px;
}

.title h2 {
    margin: 0;
    font-size: 24px;
}

.title span {
    font-size: 16px;
    color: darkblue;
}

.contact-form {
    background-color: #e9edf1;
    height: 420px;
    width: 720px;
    border-radius: 16px;
}

.input-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.input-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 16px;
}

.input {
    height: 47px;
    width: 318px;
    border-radius: 5px;
    border: 1px solid black;
}

.select {
    height: 48px;
    width: 320px;
    border-radius: 5px;
}

.textarea {
    height: 120px;
    width: 360px;
    border-radius: 5px;
}

.btn {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.margin {
    margin-left: 8px;
    margin-right: 8px;
}

.margin-top {
    margin-top: 16px;
}